* {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #e6e6e6;

}

a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: 1.25 all ease-in;
  color: black;
}

a:hover {
  color: #ffffff
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.button {
  color: #0a0a0a;
  background: #e6e6e6;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 200px;
  text-align: center;
  display: block;
  padding: 7px 0;
  margin: 10px auto;
  cursor: pointer;  

}

.button:hover {
  background: lightskyblue;
  color: #ffffff;
  cursor: pointer;
}

.button:hover:enabled {
  background: lightskyblue;
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.space-list-items {
  margin-bottom: 7px;
  text-align: center;
}

.languages {
  display: flex;
  justify-content: center;
}

.languages li {
  margin: 10px;
  font-weight: normal ;
  cursor: pointer;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.popular-item {
  margin: 20px;
  text-align: center;
}

.popular-rank {
  font-size: 20px;
  margin: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
}

.nav li {
  margin-right: 15px;
}

.active {
  font-weight: bold;
  color: #ffffff
}


.column {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.centered {
  margin: 0 auto;
}

.column input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.43);
  font-size: 16px;
  width: 80%;
}

.column label {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
}

.header {
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  color: white
}

.reset {
  border: none;
  background: transparent;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
}

.reset:hover {
  cursor: pointer;
}

.language.li {
  transition: all 0.5s ease-in;
}

.languages li.selected {
  color: #ffffff;
  font-weight: bold;
}

.languages li:hover {
  color: #ffffff;
}

.profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.profile a:hover {
  border-bottom: 2px solid #0a0a0a;
}

.profileInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 25%;
  justify-content: center;
  align-items: top;
  font-family: 'Raleway', sans-serif;
}

.profileInfo > div {
  width: 250px;
  margin: 10px;
  align-self: top;
  padding: 15px;
}

.profileLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profileRepos ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 33%;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.contact-info {
  margin-top: 45px;
  font-size: 25px;
}

.repo {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 20px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.repo > * {
  margin-top: 5px;
  margin-bottom: 0px;
}

.repo .stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px 0px;
}

.button-repo {
  color: #0a0a0a;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  font-size: 15px;
  border-radius: 3px;
  width: 100px;
  text-align: center;
  padding: 7px 0;
  margin: 9px auto;
  transition: 0.05s all ease-in;
}

.button-repo:hover {
  background-color: lightskyblue;
  color: #ffffff;
  border: 1px solid #0a0a0a;
}

.fa {
  color: #ffffff;
  padding-left: 5px;
}

.fa:hover {
  color: lightskyblue;
}

.h2 {
  margin: 10px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  color: #ffffff
}
.contact-img {
  border-radius: 50%;
  /* display: inline-flexbox; */
  margin-left: auto;
  /* margin-right: 50rem; */
  float:left
}

p {
  display: inline-flexbox;
}

.row {
justify-content: space-around;
display: flex;
height: 300px;
}

.col-md-12 {
  padding: 30px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.btn-light {
  margin: 5px;
  align-items: center;
}


body{
  background: #3399ff;
}


.circle{
  position: absolute;
  border-radius: 50%;
  background: white;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #508fb9;
  z-index: -255;
}

.small{
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
  z-index: -255;
}

.medium{
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
  z-index: -255;
}

.large{
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
  z-index: -255;
}

.xlarge{
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
  z-index: -255;
}

.xxlarge{
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
  z-index: -255;
}

.shade1{
  opacity: 0.2;
}
.shade2{
  opacity: 0.5;
}

.shade3{
  opacity: 0.7;
}

.shade4{
  opacity: 0.8;
}

.shade5{
  opacity: 0.9;
}

@keyframes ripple{
  0%{
    transform: scale(0.8);
  }
  
  50%{
    transform: scale(1.2);
  }
  
  100%{
    transform: scale(0.8);
  }
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.tableDiv {
  margin-top: 50px;
  overflow-y: scroll;
  max-height: 80vh;
  width: auto;
}

.tableOne {
  width: 100%;
  /* margin: 25px; */
  box-shadow: 0 1px 5px rgba(44, 44, 44, 0.46);
  overflow-y: scroll;
  max-height: 80vh;
  border: 1px solid lightskyblue;
}

th, td {
  padding: 5px 40px 5px 40px;
  text-align: center;
}

.responsive-image {
  width: 100%;
  height: auto;
}
.score-container:before {
  content: '';
  position: absolute;
  background: inherit;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  z-index: -200;
}

.contact-container::before {
  content: '';
  position: absolute;
  background: inherit;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  z-index: -200;
}

.score-container, .contact-container {
  background: inherit;
}

body::-webkit-scrollbar, .tableDiv::-webkit-scrollbar {
  background: linear-gradient(#618cdd,
  #8cb6e6);
  width: 10px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track, .tableDiv::-webkit-scrollbar-track {
  background: linear-gradient(#618cdd,
    #8cb6e6);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb, .tableDiv::-webkit-scrollbar-thumb{
  background-color: lightskyblue;
  border-radius: 16px;
  border: 1px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button, .tableDiv::-webkit-scrollbar-button {
  display: none
}